@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/OrbitronRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/OrbitronMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/OrbitronBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 30px 10px;
  transition: 0.5s ease;
}

header.fix,
header.hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0 0 10px gray;
  background-color: #fff;
  z-index: 100;
}

header.fix .main-title {
  font-size: 30px;
  line-height: 35px;
}

header.hide {
  transform: translateY(-100%);
}

/* GENERAL */

.main-title {
  font-size: 50px;
  line-height: 55px;
  text-align: center;
}

.main-sub {
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  text-align: center;
}

.object-title {
  margin: 25px 0;
  padding: 30px 10px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  border-top: 3px dotted #3375a7;
  border-bottom: 3px dotted #3375a7;
}

.object-title span {
  display: block;
}

.object-title span:last-child {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  font-size: 25px;
  line-height: 23px;
  font-weight: 500;
  padding: 20px 10px;
  border-bottom: 1px solid #000;
}

.demo {
  display: flex;
  padding: 15px;
}

.cube {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
  margin-right: 20px;
  background-color: #a29e9e;
  cursor: pointer;
  box-sizing: border-box;
}

.cube:last-child {
  margin-right: 0;
}

.cube span {
  display: none;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.cube.active {
  background-color: #59a733;
}

.cube.active span {
  display: block;
}

.btns {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.btns button {
  border: none;
  background-color: #3375a7;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.btns button.active {
  transform: scale(0.9);
  font-size: 14px;
  font-weight: 400;
  background-color: #59a733;
}

/* PERSONAL */

.ct-parent .cube {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.ct-parent .cube .inner {
  width: 50%;
  height: 50px;
  background-color: #fff;
}

.ct-parent .cube span {
  align-self: flex-start;
}

.bt-tabs {
  display: block;
}

.bt-tabs .toggles {
  display: flex;
  position: relative;
  transform: translateY(2px);
  z-index: 10;
}

.bt-tabs .togg {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 15px 15px 0 0;
}

.bt-tabs .togg.active {
  border-bottom: none;
}

.bt-tabs .tabs {
  position: relative;
  border: 2px solid #000;
  height: 300px;
}

.bt-tabs .t-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  line-height: 40px;
  background-color: #fff;
}

.bt-openers {
  display: block;
}

.bt-openers .opener {
  margin-bottom: 20px;
}

.bt-openers .plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #000;
  cursor: pointer;
}

.bt-openers .plate span {
  font-size: 30px;
  line-height: 35px;
}

.bt-openers .plate svg {
  transition: 0.5s ease;
}

.bt-openers .o-block {
  transition: 0.5s ease;
}

.bt-openers .o-block > div{
  padding: 20px;
  line-height: 40px;
}

.bt-openclose {
  display: block;
}

.bt-openclose .inner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 2px solid #000;
}

.bt-openclose .btn {
  font-size: 25px;
  line-height: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}

.bt-openclose .btn:hover {
  background-color: #8fd669;
}

.bt-openclose .side .btn {
  margin: 120px auto 0 auto;
  width: 115px;
  text-align: center;
}

.bt-openclose .side {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #8fd669;
}

.gp-fixheader {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gp-fixheader .btns {
  width: 100%;
  justify-content: center;
}

.gp-sticky .inner {
  position: relative;
  height: 1200px;
  width: 100%;
  overflow: hidden;
}

.gp-sticky .stick {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  width: 200px;
  height: 300px;
  background-color: gray;

}

